*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: lightgray; */
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*/ Navbar */

/*/ carousel */

.carouselSize {
  height: 70vh;
}
.carouselItem {
  background-image: url(../public/img/hero.jpg);
  background-size: cover;
  background-position: left;
}
.carousel-caption {
  width: 400px;
  height: max-content;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(87, 87, 87, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 576px) {
  .carousel-caption {
    width: 275px;
    padding: 20px 10px 20px 10px;
  }
}
.offer {
  transition: 0.2s ease-in-out;
}
.offer:hover {
  border-color: #198754;
  box-shadow: 0 0 10px 2px #198754;
}

/*/ Shop */
.card {
  height: 400px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 10px 2px #198754;
}

/*/ Single Product */

form .qty {
  width: 60px;
}

.footer {
  margin-top: auto;
}

